.connect {
	position: fixed;
	@include adaptiv-value('bottom', 50, 10, 1);
	left: 0;
	z-index: 50;
	width: 100%;

	&__container {
		display: flex;
		justify-content: flex-end;
	}

	&__wrapper {
		margin-left: auto;
	}

	&__control,
	&__button {
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}

	&__control {
		position: relative;
		background-color: #e78614;
		transition: background-color 0.4s;
		@include flex-all-center;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 25px;
			height: 25px;
			background-image: url('../img/connect/tel.svg');
			transform: translate(-50%, -50%);
			transition: opacity 0.4s;
			content: '';
			@include bg-conatin;
		}

		&--close {
			background-color: $white;

			&::before {
				opacity: 0;
			}

			.connect__line {
				opacity: 1;
			}
		}
	}

	&__line {
		position: relative;
		display: inline-block;
		width: 27px;
		height: 2px;
		background-color: $dark-800;
		transform: rotate(45deg);
		opacity: 0;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: inherit;
			height: inherit;
			background-color: inherit;
			transform: rotate(90deg);
			opacity: inherit;
			content: '';
		}
	}

	&__items {
		display: none;

		&--active {
			display: inline-block;
		}
	}

	&__item {
		margin-bottom: 10px;
	}

	&__button {
		@include bg-conatin;
		display: inline-block;
		background-size: 25px;
	}
}
