.price-table {
	&--big {
        .price-table__item {
            @include adaptiv-value('width', 201, 160, 1);
        }
	}

	&__wrapper {
		flex: 0 0 100%;
		overflow-x: auto;
		background-color: $grey-200;
		@include adaptiv-value('padding-top', 70, 35, 1);
		@include adaptiv-value('padding-bottom', 80, 35, 1);
		@include adaptiv-value('padding-right', 60, 20, 1);
		@include adaptiv-value('padding-left', 60, 20, 1);

		&:not(:last-child) {
			@include adaptiv-value('margin-bottom', 50, 25, 1);
		}
	}

	&__title {
		line-height: 1.2;
		text-align: center;
		@include subtitle;
		@include adaptiv-value('margin-bottom', 40, 25, 1);
	}

	&__content {
		width: 100%;
	}

	&__box {
		display: flex;
		flex-direction: column;
	}

	&__header,
	&__list {
		display: flex;
		justify-content: space-between;
	}

	&__header {
		@include adaptiv-value('margin-bottom', 48, 25, 1);
	}

	&__list {
		position: relative;

		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 0.5px;
			background-color: $grey-400;
			content: '';
		}

		&:not(:last-child) {
			@include adaptiv-value('padding-bottom', 30, 20, 1);
			@include adaptiv-value('margin-bottom', 25, 15, 1);
		}

		&:last-child {
			&::before {
				display: none;
			}
		}
	}

	&__item {
		@include adaptiv-value('width', 250, 200, 1);
		font-weight: $fw-700;

		&:not(:last-child) {
			padding-right: 16px;
		}

		&--name {
			color: $green-400;
			font-weight: $fw-500;
			line-height: 1.4;
		}

		&--category {
			font-weight: $fw-400;
		}
	}

	&__text {
		color: $green-400;
		font-weight: $fw-500;
		line-height: 1.4;
		text-align: center;
		@include adaptiv-value('margin-bottom', 40, 0, 1);

        @include mq(lg) {
            padding: 0 20px;
        }
	}
}