<article class="service-card">
    <picture>
       <source srcset="img/services/@img.avif" type="image/avif">
       <source srcset="img/services/@img.webp" type="image/webp">
       <img class="service-card__img" src="img/services/@img.jpg" alt="@title" width="317" height="300" loading="lazy">
    </picture>
    <div class="service-card__content">
        <h3 class="service-card__title">@title</h3>
        <p class="service-card__text">@text</p>
        <span class="service-card__price">от @price Р</span>
        <button class="service-card__button button" type="button">заказать</button>
    </div>
</article>