<div class="connect">
    <div class="connect__container container">
        <div class="connect__wrapper">
            <ul class="connect__items">
                <li class="connect__item">
                    <a class="connect__button" href="#" target="_blank" style="background-image: url('img/connect/whatsapp.svg'); background-color: #2CB742;">
                    </a>
                </li>
                <li class="connect__item">
                    <a class="connect__button" href="#" target="_blank" style="background-image: url('img/connect/telegram.svg'); background-color: #40B3E0;">
                    </a>
                </li>
                <li class="connect__item">
                    <a class="connect__button" href="tel:+79000000000" style="background-image: url('img/connect/tel.svg'); background-color: #E78614;">
                    </a>
                </li>
            </ul>
            <button class="connect__control" type="button" aria-label="Открыть панель" aria-expanded="false">
                <span class="connect__line"></span>
            </button>
        </div>
    </div>
</div>