<header class="header">
    <nav class="header__navigation" data-menu>
        <div class="header__top">
            <div class="container">
                <div class="header__wrapper">
                    <a class="header__logo logo" href="#">
                        <picture>
                            <source media="(max-width:1200px)" srcset="img/logo-white.svg">
                            <img class="logo__img" src="img/logo.svg" alt="Лого" width="204" height="22" loading="lazy">
                        </picture>
                    </a>
                    <div class="header__info">
                        <span class="header__item header__item--place">
                            Хабаровск
                        </span>
                        <span class="header__item header__item--time">
                            Круглосуточно, без выходных
                        </span>
                        <div class="header__item header__item--tel">
                            <a class="header__link" href="tel:+79000000000">
                                +7 (900) 000-00-00
                            </a>
                        </div>
                        <div class="header__item header__item--email">
                            <a class="header__link" href="mailto:vuvozmusora@mail.ru">
                                vuvozmusora@mail.ru
                            </a>
                        </div>
                    </div>
                    <button class="header__button button" type="button" data-graph-path="modal-call">
                        заказать звонок
                    </button>
                    <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
                        <div class="burger__content">
                            <span class="burger__line"></span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="header__bottom">
            <div class="container">
                <ul class="menu">
                    <li class="menu__item">
                        <a class="menu__link" href="#">О компании</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Тарифы и цены</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Вывоз мусора</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Демонтажные работы</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Вызов грузчиков</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Отзывы</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">контакты</a>
                    </li>
                </ul>
                <button class="header__button header__button--mobile button" type="button" data-graph-path="modal-call">
                    заказать звонок
                </button>
            </div>
        </div>
    </nav>
</header>