<div class="graph-modal graph-modal--call">
    <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal-call">
            <div class="graph-modal__box">
                <button class="js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
                <form class="graph-modal__content form" action="#">
                    <span class="form__title">Заказать звонок</span>
                    <div class="form__items">
                        <div class="form__item">
                            <label class="sr-only" for="nam-calle">Введите ваше имя</label>
                            <input class="form__field" name="name-call" type="text" placeholder="Ваше имя" id="name-call" required>
                        </div>
                        <div class="form__item">
                            <label class="sr-only" for="tel-call">Контактный телефон</label>
                            <input class="form__field" name="tel-call" type="teд" placeholder="Контактный телефон" id="tel-call" required>
                        </div>
                    </div>
                    <div class="form__button">
                        <button class="form__button button" type="submit">заказать звонок</button>
                        <label class="form__agree">
                            Заполняя данную форму я даю согласие на обработку персональных данных
                            <input class="form__hidden" type="checkbox" name="agree" required checked>
                            <span class="form__visible"></span>
                        </label>
                    </div>
                </form>
            </div>
    </div>

    <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal-service">
        <div class="graph-modal__box">
            <button class="js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
            <form class="graph-modal__content form" action="#">
                <span class="form__title">Заказать услугу</span>
                <div class="form__items">
                    <div class="form__item">
                        <label class="sr-only" for="name-service">Введите ваше имя</label>
                        <input class="form__field" name="name-service" type="text" placeholder="Ваше имя" id="name-service" required>
                    </div>
                    <div class="form__item">
                        <label class="sr-only" for="tel-service">Контактный телефон</label>
                        <input class="form__field" name="tel-service" type="tel" placeholder="Контактный телефон" id="tel-service" required>
                    </div>
                    <div class="form__item">
                        <label class="sr-only" for="message-service">Введите свой комментарий</label>
                        <textarea class="form__field form__field--message" id="message-service" name="message-service" placeholder="Комментарий"></textarea>
                    </div>
                </div>
                <div class="form__button">
                    <button class="form__button button" type="submit">заказать звонок</button>
                    <label class="form__agree">
                        Заполняя данную форму я даю согласие на обработку персональных данных
                        <input class="form__hidden" type="checkbox" name="agree" required checked>
                        <span class="form__visible"></span>
                    </label>
                </div>
            </form>
        </div>
    </div>

    <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal-review">
        <div class="graph-modal__box">
            <button class="js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
            <form class="graph-modal__content form" action="#">
                <span class="form__title">Оставить отзыв</span>
                <div class="form__items">
                    <div class="form__item">
                        <label class="sr-only" for="name-review">Введите ваше имя</label>
                        <input class="form__field" name="name-review" type="text" placeholder="Ваше имя" id="name-review" required>
                    </div>
                    <div class="form__item">
                        <label class="sr-only" for="tel-review">Контактный телефон</label>
                        <input class="form__field" name="tel-review" type="teд" placeholder="Контактный телефон" id="tel-review" required>
                    </div>
                    <div class="form__item">
                        <label class="sr-only" for="message-service">Ваш отзыв</label>
                        <textarea class="form__field form__field--message" id="message-service" name="message" placeholder="Ваш отзыв"></textarea>
                    </div>
                </div>
                <div class="form__button">
                    <button class="form__button button" type="submit">заказать звонок</button>
                    <label class="form__agree">
                        Заполняя данную форму я даю согласие на обработку персональных данных
                        <input class="form__hidden" type="checkbox" name="agree" required checked>
                        <span class="form__visible"></span>
                    </label>
                </div>
            </form>
        </div>
    </div>

    <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal-connect">
        <div class="graph-modal__box">
            <button class="js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
            <form class="graph-modal__content form" action="#">
                <span class="form__title">Написать нам</span>
                <div class="form__items">
                    <div class="form__item">
                        <label class="sr-only" for="name-connect">Введите ваше имя</label>
                        <input class="form__field" name="name-connect" type="text" placeholder="Ваше имя" id="name-connect" required>
                    </div>
                    <div class="form__item">
                        <label class="sr-only" for="tel-connect">Контактный телефон</label>
                        <input class="form__field" name="tel-connect" type="tel" placeholder="Контактный телефон" id="tel-connect" required>
                    </div>
                    <div class="form__item">
                        <label class="sr-only" for="message-connect">Введите свой комментарий</label>
                        <textarea class="form__field form__field--message" id="message-connect" name="message-connect" placeholder="Комментарий"></textarea>
                    </div>
                </div>
                <div class="form__button">
                    <button class="form__button button" type="submit">заказать звонок</button>
                    <label class="form__agree">
                        Заполняя данную форму я даю согласие на обработку персональных данных
                        <input class="form__hidden" type="checkbox" name="agree" required checked>
                        <span class="form__visible"></span>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>
