.review-card {
	height: 100%;
	background-color: $white;
	@include adaptiv-value('padding-top', 45, 25, 1);
	@include adaptiv-value('padding-left', 50, 30, 1);
	@include adaptiv-value('padding-right', 50, 30, 1);
	@include adaptiv-value('padding-bottom', 50, 30, 1);

	&__name,
	&__date {
		display: block;
		font-weight: $fw-700;
	}

	&__name {
		font-size: 16px;
		text-transform: uppercase;
	}

	&__date {
		@include adaptiv-value('margin-bottom', 10, 5, 1);
		color: $grey-400;
	}

	&__text {
		p {
			&:not(:last-child) {
				@include adaptiv-value('margin-bottom', 16, 8, 1);
			}
		}
	}
}
