.about {
	@include adaptiv-value('padding-top', 160, 60, 1);
	@include adaptiv-value('margin-bottom', 210, 70, 1);
	position: relative;
	z-index: 1;

	@include mq(lg) {
		padding-bottom: 0;
	}

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 80%;
		height: 100%;
		background-color: $grey-200;
		content: '';

		@include mq(lg) {
			height: 90%;
		}
	}

	@include mq(lg) {
		line-height: 1.8;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;

        @include mq(lg) {
			flex-direction: column;
		}
	}

	&__content {
		width: 100%;
		max-width: 550px;
		margin-right: 20px;

        @include mq(lg) {
			max-width: 100%;
            margin-right: 0;
            margin-bottom: 25px;
		}
	}

	&__title {
		@include adaptiv-value('margin-bottom', 30, 15, 1);
	}

	&__text {
		@include adaptiv-value('margin-bottom', 34, 12, 1);

		p {
			&:not(:last-child) {
				@include adaptiv-value('margin-bottom', 16, 10, 1);
			}
		}
	}

	&__items {
		padding-left: 22px;
	}

	&__item {
		position: relative;
		padding-left: 30px;

		&::before {
			position: absolute;
			top: 4px;
			left: 0;
			width: 10px;
			height: 10px;
			background-color: $green-400;
			border-radius: 50%;
			content: '';
		}

		&:not(:last-child) {
			@include adaptiv-value('margin-bottom', 16, 10, 1);
		}
	}

	&__bg {
		@include bg-cover;
		width: 100%;
		max-width: 666px;
		height: 530px;

        @include mq(lg) {
			max-width: 100%;
		}

        @include mq(md) {
			height: 400px;
		}

        @include mq(sm) {
			height: 335px;
		}
	}
}
