.order {
	@include adaptiv-value('margin-bottom', 160, 60, 1);
	position: relative;
	color: $white;
	background-color: $green-400;

	&__container {
		display: flex;

		@include mq(lg) {
			flex-direction: column;
		}
	}

	&__content {
		@include adaptiv-value('padding-top', 70, 45, 1);
		flex: 0 0 100%;
		padding-bottom: 80px;

		@include mq(lg) {
			padding-bottom: 45px;
		}
	}

	&__inner {
		width: 100%;
		max-width: 465px;

		@include mq(lg) {
            text-align: center;
			max-width: 100%;
			@include flex-column-center;
		}
	}

	&__title {
		@include adaptiv-value('margin-bottom', 20, 10, 1);
		@include adaptiv-value('font-size', 40, 36, 1);
		color: $white;
	}

	&__text {
		@include adaptiv-value('margin-bottom', 35, 25, 1);
		@include adaptiv-value('font-size', 22, 18, 1);
		font-weight: $fw-500;
		line-height: 1.5;
	}

	&__bg {
		position: relative;
		display: flex;
		flex: 0 0 100%;
		justify-content: center;
		transform: translateX(-52%);

		@include mq(lg) {
			width: 120%;
			min-height: 354px;
			transform: translateX(-3%);
		}

		@include mq(sm) {
			min-height: 258px;
		}
	}

	&__img {
		@include bg-cover;
		width: 100%;
		max-width: 394px;

		&:not(:last-child) {
			margin-right: -65px;

			@include mq(lg) {
				margin-right: -80px;

				@include mq(md) {
					margin-right: -65px;
				}
			}
		}

		@include mq(md) {
			flex: 0 0 357px;
		}
	}
}
