/* stylelint-disable */

// * colors
$white: #ffffff;
$black: #000000;

$dark-800: #3c3c3b;
$green-400: #38a743;
$grey-400: #bdbdc6;
$grey-200: #f1f5f8;
$orange-300: #e78614;

// * fonts
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

$montserrat: 'Montserrat';
$inter: 'Inter';
